<div class="login-container">
  <h2>התחברות</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>אימייל</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>סיסמה</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      התחבר
    </button>
      @if("errorMessage" != null){
         <p  class="error-message">{{ errorMessage }}</p>
      }
    
    </form>
  </div>
  