<div class="signup-container">
    <h2>הרשמה</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="name">שם מלא</label>
      <input id="name" formControlName="name" type="text" required />
      @if(registerForm.get('name')?.invalid && registerForm.get('name')?.touched)
      {<div >
        שם הוא שדה חובה.
      </div>}
  
      <label for="email">אימייל</label>
      <input id="email" formControlName="email" type="email" required />
     @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched)
     { <div >
        יש להזין אימייל תקין.
      </div>
    }
  
      <label for="password">סיסמה</label>
      <input id="password" formControlName="password" type="password" required />
      @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched)
     { <div>
        יש להזין סיסמה.
      </div>
    }
  
      <label for="role">תפקיד</label>
      <select id="role" formControlName="role">
        <option value="student">תלמיד</option>
        <option value="teacher">מורה</option>
        <option value="admin">מנהל</option>
      </select>
  
      <button type="submit" [disabled]="registerForm.invalid">הרשמה</button>
    </form>
  </div>